[Unit]
Description=Directory Monitor Service
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/bsm
ExecStart=/usr/bin/python3 /home/ubuntu/bsm/directory_monitor.py
Restart=always
RestartSec=3
StandardOutput=append:/home/ubuntu/bsm/logs/service.log
StandardError=append:/home/ubuntu/bsm/logs/service.log

[Install]
WantedBy=multi-user.target