[Unit]
# Servisin açıklaması ve hangi servislerin ardından çalışması gerektiği belirtiliyor.
Description=Directory Monitor Service  # Servisin adı veya açıklaması.

[Service]
# Servisin çalışma durumu ve nasıl başlatılacağı tanımlanır.
Type=simple  # Servisin başlatılma biçimi. Basit bir servis (yani arka planda çalışan bir komut değil).
User=mtg  # Servisin çalışacağı kullanıcı adı.
Group=mtg  # Servisin çalışacağı grup adı.
WorkingDirectory=/home/mtg/bsm  # Servisin çalışacağı dizin.
ExecStart=/usr/bin/python3 /home/mtg/bsm/directory_monitor.py  # Servisin çalıştıracağı komut. Burada Python betiği çalıştırılacak.
Restart=always  # Eğer servis çökerse veya kapanırsa, her zaman yeniden başlatılacak.
RestartSec=3  # Servisin yeniden başlatılmadan önce bekleyeceği süre (saniye cinsinden).
StandardOutput=append:/home/mtg/bsm/logs/service.log  # Servisin standart çıktısı, belirtilen log dosyasına eklenir.
StandardError=append:/home/mtg/bsm/logs/service.log  # Servisin standart hata çıktısı, aynı log dosyasına eklenir.

[Install]
# Servisin hangi durumlarda etkinleştirileceği belirtilir.
